@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NRT";
    src: url("assets//fonts/NRT-BD.TTF");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'NRT';
    direction: rtl;
}